.logout {
    float: right;
}
.logoutButton {
    background: black;
    color:white;
    font-size: 18px;
    padding: 10px;
    width: 140px;
    text-align: center;
    cursor: pointer;
    line-height: 23px;
}