.menu(id="navigationApp", ng-controller="navigationController")
 .menuContainer
  .menuTitle(ng-click="exampleLink1Click()")='ExampleLink1'
  .menuTitle(ng-click="exampleLink2Click()")='ExampleLink2'
  .clear